<div class="container-fluid">
	<h1>ChemThings</h1>
	<hr>
</div>
<div class="container-fluid">
	<div class="col-sm-7">
		<div class="editor" ace-editor ng-model="$ctrl.script" ng-change="$ctrl.onType()" ng-keydown="$event.keyCode == 13 && $event.ctrlKey && $ctrl.eval()"></div>
	</div>
	<br>
	<div class="col-sm-5">
		<div class="btn-group">
		  <a class="btn btn-primary" ng-click="$ctrl.eval()">Run Script</a>
		  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li ng-click="$event.stopPropagation()"><label style="margin-left: 10px" class="checkbox-inline"><input type="checkbox" ng-model="$ctrl.autorun" ng-change="$ctrl.onType()">Auto-run</label></li>
		  </ul>
		</div>
		<span class="text-muted" style="margin-left:10px;" ng-bind="$ctrl.output.status"></span>
		<br><br>
		<pre class="editor-output" ng-class="{'text-muted':!$ctrl.output.current}" ng-bind-html="$ctrl.output.result"></pre>
	</div>
</div>
<hr>